@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face {
    font-family: Cocogoose;
    src: url(../fuentes/Cocogoose\ Pro-trial.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyHome {
    background: linear-gradient(
        90deg,
        rgb(114, 114, 114) 0%,
        rgb(216, 216, 216) 100%
    );
}
.bodySobre {
    background: linear-gradient(
        90deg,
        rgb(114, 114,114) 0%,
        rgb(216, 216, 216) 100%
    );
}


/* HEADER */


.nav-darosa {
    background-color: rgb(77, 77, 77);
}
.nav-darosa .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 70px;
}
.nav-darosa .slogan {
    display: flex;
    align-items: center;
    height: 125px;
}
.nav-darosa .nav-thiago .nav-links li a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.3s ease 0s;    
}
.nav-darosa .nav-thiago .nav-links li a:hover {
    color: crimson;
    
}  


/* HOME */

.mainHome {
    margin: 40px 80px;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 70px auto 400px 350px 500px;
    row-gap: 45px;
    grid-template-areas:
    "titulo titulo"
    "carrusel carrusel"
    "quien muneco"
    "contacto contacto"
    "siabajo formulario";
}

.mainHome .divido {
    width: 100%;
    height: 70px;
    text-align: center;
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHome .divido .nuestrosDisenos{
    color:rgb(218, 13, 30);
    font-size: 40px;
    text-transform: uppercase; 
    text-align: center;
    font-family: Cocogoose;
    margin: 0;
}


.mainHome .carrusel {
    grid-area: carrusel;
}

.mainHome .quien {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: quien;
    justify-self: center;
    background-color: rgb(12, 12, 12);
    border-radius: 8px;
}
.mainHome .quien .quienesSomos{
    color:rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    
}

.mainHome .quien .pquienesSomos {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.mainHome .munecoHome {
    grid-area: muneco;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid rgb(105, 105, 105) 2px;
    border-radius: 8px;
    background-color: white;
}


.mainHome .homeContact {
    grid-area: contacto;
    text-align: center;
    margin-top: 70px;
}

.mainHome .homeContact .botonContacto {
    font-size: 15px;
    color: white;
    background-color: #333;
    border-radius: 20px;
    border: none;
    padding: 12px;
    font-weight: bold;   
}

.mainHome .siAbajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    grid-area: siabajo;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(179, 53, 53);
}

.mainHome .siAbajo .muneco3 {
    width: 0;
}

.mainHome .siAbajo h2 {
    text-align: center;
    margin-top: 15px;
}

.mainHome .seccionFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: formulario;
    background-color: rgb(179, 53, 53);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mainHome .seccionFormulario .formHome {
    display: block;
}

.mainHome .seccionFormulario .formHome .textoFormHome {
    font-size: 25px;
}
.mainHome .seccionFormulario .formHome .labelHome {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

.mainHome .seccionFormulario .formHome .camposHome {
    display: block;
    width: 75%;
    padding: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    border-bottom: 1px solid white;
    font-size: 10px;
    margin-bottom: 10px;
    background-color:rgb(247, 141, 141) ;
   
}

.mainHome .seccionFormulario .formHome .btnFormularioHome {
    background-color: crimson;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}

/* SERVICIOS */

.mainServ {
    font-family: Montserrat; 
    margin: 40px 80px;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: auto auto;
    row-gap: 45px;
    grid-template-areas: 
    "seccionA seccionB"
    "formulario formulario";

}
.mainServ .serv {
    grid-area: seccionA;
    display: flex;
    flex-direction: column;

}

.mainServ .serv2 {
    grid-area: seccionB;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainServ .formularioServicios {
    grid-area: formulario;
    background-color:rgb(143, 12, 23);
    padding: 30px 30px;
    border-radius: 8px;
}
    
.mainServ .serv .tituloserv{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.mainServ .serv .verplanes {
    font-size: 15px;
    color: white;
    background-color: #333;
    border-radius: 20px;
    border: none;
    padding: 12px;
    font-weight: bold;
    margin: auto;
 
}

.mainServ .formularioServicios .formServ .textoformserv{
    color: white;
    width: 50%;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 10px;
}

.mainServ .formularioServicios .formServ label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.mainServ .formularioServicios .formServ .camposServ {
    display: block;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    font-size: 15px;
    margin-bottom: 10px;
    background-color:rgb(143, 12, 23) ;
}

.mainServ .formularioServicios .formServ .btnFormularioServ {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}
 
.mainServ .serv p {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* DISEÑOS */

.mainDisenos {
    background-image:url(../img/white-spiral.jpg) ;
}

.mainDisenos .tituloDisenos {
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainDisenos .tituloDisenos img {
   height: 100px;
   width: 300px;
   margin-right: 35px;
   margin-top: 20px;
}
.mainDisenos .contenedorFotos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin: 3rem;
}
.mainDisenos .contenedorFotos .fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}

    
.mainDisenos .contenedorFotos .fotos .d {
    max-width: 350px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
}
  
.mainDisenos .contenedorFotos .fotos .disenoDesc {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.mainDisenos .contenedorFotos .fotos .masInfo {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: transform 0.5s;
}

.mainDisenos .contenedorFotos .fotos .masInfo:hover  {
    transform: translateY(-5px);

}

/* ACERCA DE */

.mainAcer {
    font-family: Montserrat;
    margin: 40px 80px;
}

.mainAcer .sobreTitulo {
    color: rgb(218, 13, 30);
    font-family: Cocogoose;
    text-align: center;
}
.mainAcer .acerc {
    padding: 30px;
    border-radius: 8px;
    background-color: rgba(230, 230, 230, 0.85);
    padding: 50px;
    margin-top: 75px;
    margin-bottom: 90px;
}


.mainAcer .acerc h1{
    color: rgb(143, 12, 23);
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.mainAcer .acerc .acercParrafo {
    color: rgb(143, 12, 23);
    text-align: center;
    text-align: center;

}

.mainAcer .acercNegro {
    width: 100%;
    padding-top: 20px;
    background-color: rgb(37, 37, 37);  
    border-radius:  8px;
    padding: 30px;
}

.mainAcer .acercNegro h1{
    font-size: 30px;
    color: white;
    text-align: center;
}

.mainAcer .acercNegro .acercNegroParrafo {
    color: white;
    text-align: center;

}


/* CONTACTO */

.formulariocontacto{
    display: flex;
    background-color:rgb(143, 12, 23);
    padding: 30px 30px;
}

.formulariocontacto .formContacto {
    flex-basis: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.formulariocontacto .formContacto label {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    
}

.formulariocontacto .formImagen {
    flex-basis: 50%;
    align-self: center;
    justify-content: center;
}

.formulariocontacto .formImagen img {
    width: 100%;
}

.formulariocontacto .formContacto .textoformcont {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 10px;

}

.formulariocontacto .formContacto .labelContacto {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

.formulariocontacto .formContacto .camposContacto {
    display: block;
    width: 100%;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    margin-bottom: 10px;
    background-color:rgb(143, 12, 23) ;
   
}

.formulariocontacto .formContacto .btnFormularioContacto {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}



/* FOOTER */
.footer {
    border-top: 1px solid rgb(143, 12, 23);
    text-align: center;
    margin: 70px;
    padding: 50px;
    text-transform: uppercase;
}

.footer h3 {
    font-size: 15px;
    color: rgb(143, 12, 23);
}

/* MEDIA QUERIES */




@media (max-width: 991px) {

    /* HOME */

    .mainHome {
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto 360px 360px 500px;
        grid-template-areas:
        "titulo"
        "carrusel"
        "quien"
        "contacto"
        "siabajo"
        "formulario";
    }
    
    .mainHome .quien .quienesSomos{
        font-size: 40px;
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }
    
    .mainHome .quien .pquienesSomos {
        margin-left: 45px;
        margin-right: 45px;
    }
    
    .mainHome .munecoHome img {
        display: none;
    }
    
    .mainHome .homeContact {
        margin-top: 10px;
    }
    
    .mainHome .siAbajo .muneco3 {
        width: 350px;
    }
    .mainHome .siAbajo .muneco2 {
        display: none;
    }
    
    .mainHome .seccionFormulario {
        align-content: center;
        border-radius: 8px;
    }
    
    .mainHome .seccionFormulario .formHome {
        height: 500px;
        margin-top: 30px;
        padding-left: 35px;
    }
    

    /* DISEÑOS */

    .mainDisenos .contenedorFotos {
        grid-template-columns: repeat(2,1fr);
    }

    /* SERVICIOS */

    .mainServ .serv p {
        font-size: 15px;
    }

} 



@media (min-width: 800px) and (max-width: 900px) {

    /* HOME */

    .mainHome {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 280px 360px 360px 500px;
        grid-template-areas:
        "titulo"
        "carrusel"
        "quien"
        "contacto"
        "siabajo"
        "formulario";
    }
    
    .mainHome .quien .quienesSomos{
        font-size: 40px;
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }
    
    .mainHome .quien .pquienesSomos {
        margin-left: 45px;
        margin-right: 45px;
    }
    
    .mainHome .munecoHome img {
        display: none;
    }
    
    .mainHome .homeContact {
        margin-top: 10px;
    }
    
    .mainHome .siAbajo {
        border-radius: 8px;
    }
    .mainHome .siAbajo .muneco3 {
        width: 350px;
    }
    .mainHome .siAbajo .muneco2 {
        display: none;
    }
    
    .mainHome .seccionFormulario {
        align-content: center;
        justify-content: center;
        border-radius: 8px;
    }
    
    .mainHome .seccionFormulario .formHome {
        height: 500px;
        margin-top: 30px;
        padding-left: 35px;
    }
    

    /* DISEÑOS */

    .mainDisenos .contenedorFotos {
        grid-template-columns: repeat(2,1fr);
    }


    /* SERVICIOS */

    .mainServ .serv .tituloserv {
        font-size: 22px;
    }

}

@media (min-width: 700px) and (max-width: 800px) {

    /* HOME */


    .mainHome {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 250px 360px 360px 500px;
        grid-template-areas:
        "titulo"
        "carrusel"
        "quien"
        "contacto"
        "siabajo"
        "formulario";
    }
 
    .mainHome .quien .quienesSomos{
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }
    
    .mainHome .quien .pquienesSomos {
        margin-left: 45px;
        margin-right: 45px;
    }

    .mainHome .munecoHome img {
        display: none;
    }
    
    .mainHome .homeContact {
        margin-top: 10px;
    }
    
    
    .mainHome .siAbajo {
        border-radius: 8px;

    }
    .mainHome .siAbajo .muneco3 {
        width: 350px;
    }
    .mainHome .siAbajo .muneco2 {
        display: none;
    }
    
    .mainHome .seccionFormulario {
        align-content: center;
        border-radius: 8px;
    }
    
    .mainHome .seccionFormulario .formHome {
        height: 500px;
        margin-top: 30px;
        padding-left: 35px;
    }
    
    /* DISEÑOS */

    .mainDisenos .contenedorFotos {
        grid-template-columns: repeat(2,1fr);
    }
    
    /* SERVICIOS */

    .mainServ {
        grid-template-columns: 50% 50% ;
    }

    .mainServ .serv2 img {
        width: 280px;
    }


    .mainServ .serv .tituloserv {
        font-size: 22px;
    }
    

}

@media (min-width: 600px) and (max-width: 700px) {

    /* HOME */
    .mainHome {
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto 360px 360px 500px;
        margin: 20px 30px;
        grid-template-areas:
        "titulo"
        "carrusel"
        "quien"
        "contacto"
        "siabajo"
        "formulario";
    }
    
    .mainHome .quien .quienesSomos{
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }
    
    .mainHome .quien .pquienesSomos {
        margin-left: 45px;
        margin-right: 45px;
    }
    
    .mainHome .munecoHome img {
        display: none;
    }
    
    .mainHome .homeContact {
        margin-top: 10px;
    }
    
    .mainHome .siAbajo {
        border-radius: 8px;

    }
    .mainHome .siAbajo .muneco3 {
        width: 350px;
    }
    .mainHome .siAbajo .muneco2 {
        display: none;
    }
    
    .mainHome .seccionFormulario {
        align-content: center;
        border-radius: 8px;
    }
    
    .mainHome .seccionFormulario .formHome {
        height: 500px;
        margin-top: 30px;
        padding-left: 35px;
    }
    

    /* DISEÑOS */
    
    
    .mainDisenos .contenedorFotos {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7, auto);
    }

    /* SERVICIOS */

    .mainServ {
        margin: 40px 50px;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "seccionA" 
        "seccionB"
        "formulario";
    }
      

}

@media (max-width: 600px) {

    /* HOME */


    .mainHome {
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto 500px 450px 500px;
        margin: 20px 10px;
        grid-template-areas:
        "titulo"
        "carrusel"
        "quien"
        "contacto"
        "siabajo"
        "formulario";
    }

    .mainHome .quien .quienesSomos{
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }
    
    .mainHome .quien .pquienesSomos {
        margin-left: 45px;
        margin-right: 45px;
    }

    .mainHome .munecoHome img {
        display: none;
    }
    
    .mainHome .homeContact {
        margin-top: 10px;
    }

    
    .mainHome .siAbajo {
        border-radius: 8px;

    }
    .mainHome .siAbajo .muneco3 {
        max-width: 300px;
        width: 100%;
    }
    .mainHome .siAbajo .muneco2 {
        display: none;
    }
    
    .mainHome .seccionFormulario {
        align-content: center;
        border-radius: 8px;
    }
    
    .mainHome .seccionFormulario .formHome {
        height: 500px;
        margin-top: 30px;
        padding-left: 35px;
    }
    
    .mainHome .seccionFormulario .formHome .textoFormHome {
        text-align: start;
        margin-right: 20px;
    }
    

    /* DISEÑOS */


    .mainDisenos .contenedorFotos {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7, auto);
    }

     /* SERVICIOS */

     .mainServ {
        margin: 40px 30px;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "seccionA" 
        "seccionB"
        "formulario";
    }

    /* SOBRE NOSOTROS */

    .mainAcer {
        margin: 40px 30px;
    }

    /* CONTACTO */

    .formulariocontacto {
        flex-direction: column;
    }

    .formulariocontacto .formContacto {
        margin-left: 0px;
    }

    .formulariocontacto .formContacto .btnFormularioContacto {
        width: 100%;
    }


    /* FOOTER */

    .footer {
        margin: 5px;
    }


}

@media (max-width: 504px){

    /* HEADER */

    .nav-darosa .logo {
        cursor: pointer;
        height: 50px;
    }
    .nav-darosa .slogan {
        display: flex;
        height: 95px;
        align-items: start;
    }



    /* HOME */

    .mainHome {
        margin: 20px 2px;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 210px 500px 450px 500px;
        grid-template-areas:
        "titulo"
        "carrusel"
        "quien"
        "contacto"
        "siabajo"
        "formulario";
    }
    
    .mainHome .quien .quienesSomos{
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }
    
    .mainHome .quien .pquienesSomos {
        margin-left: 45px;
        margin-right: 45px;
    }
    
    .mainHome .munecoHome img {
        display: none;
    }
    
    .mainHome .homeContact {
        margin-top: 10px;
    }
    
    .mainHome .siAbajo {
        border-radius: 8px;

    }
    .mainHome .siAbajo .muneco3 {
        width: 350px;
    }
    .mainHome .siAbajo .muneco2 {
        display: none;
    }
    
    .mainHome .seccionFormulario {
        align-content: center;
        border-radius: 8px;
    }
    
    .mainHome .seccionFormulario .formHome {
        height: 500px;
        margin-top: 30px;
        padding-left: 35px;
    }
    
    .mainHome .seccionFormulario .formHome .textoFormHome {
        text-align: start;
        margin-right: 20px;
    }

    /* DISEÑOS */

    .mainDisenos .contenedorFotos {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7, auto);
        margin: 20px 10px;
    }


}

@media (max-width: 420px) {
    .mainHome {
        margin: 20px 2px;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 190px 500px 450px 500px;
        grid-template-areas:
        "titulo"
        "carrusel"
        "quien"
        "contacto"
        "siabajo"
        "formulario";
    }

    /* SERVICIOS */

    .mainServ {
        margin: 40px 15px;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "seccionA" 
        "seccionB"
        "formulario";
    }

    /* SOBRE NOSOTROS */

    .mainAcer {
        margin: 40px 15px;
    }

    .mainAcer .acerc {
        padding: 20px;
    }


}


@media (max-width: 390px) {

    /* HEADER */

    .nav-darosa .logo {
        cursor: pointer;
        height: 50px;
    }
    .nav-darosa .slogan {
        display: flex;
        height: 75px;
        align-items: start;
    }



    /* HOME  */
    .mainHome {
        margin: 20px 2px;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 170px 500px 450px 500px;
        grid-template-areas:
        "titulo"
        "carrusel"
        "quien"
        "contacto"
        "siabajo"
        "formulario";
    }

    .mainHome .quien .quienesSomos{
        font-size: 30px;
    }

    /* SERVICIOS */

    .mainServ {
        margin: 40px 9px;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "seccionA" 
        "seccionB"
        "formulario";
    
    }

    .mainServ .formularioServicios {
        padding: 30px 15px;
    }

    .mainServ .formularioServicios .formServ .camposServ {
        font-size: 12px;
    }

    /* SOBRE NOSOTROS */

    .mainAcer {
        margin: 40px 9px;
    }


}

@media (max-width: 340px) {
    .mainServ {
        margin: 40px 1px;
    }

    .mainServ .serv .tituloserv {
        margin-left: 8px;
    }


}
