/* ACERCA DE*/ 

.mainAcer {
    background-color: #e4e4e4;
    .acerContent {
        display: flex;
        .quienContent {
            flex-basis: 50%;
            max-width: 500px;
            margin: 0 auto;
            padding: 30px 0 30px 0;
        }
        .quienImg {
            flex-basis: 50%;
            img {
                width: 100%;
            }
        }
    }
}