/* FOOTER */

.footer {
	border-top: 1px solid rgb(143, 12, 23);
	text-align: center;
	margin: 70px;
	padding: 50px;
	text-transform: uppercase;
	h3 {
		font-size: 15px;
		color: rgb(143, 12, 23);
	}
}