/* HOME */

.mainHome {
	margin: 40px 80px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 70px auto 400px 350px 500px;
	row-gap: 45px;
	grid-template-areas: "titulo titulo"
    "carrusel carrusel"
    "quien muneco"
    "contacto contacto"
    "siabajo formulario";
	.divido {
		width: 100%;
		height: 70px;
		text-align: center;
		grid-area: titulo;
		display: flex;
		justify-content: center;
		align-items: center;
		.nuestrosDisenos {
			color: rgb(218, 13, 30);
			font-size: 40px;
			text-transform: uppercase;
			text-align: center;
			font-family: Cocogoose;
			margin: 0;
		}
	}
	.carrusel {
		grid-area: carrusel;
	}
	.quien {
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-area: quien;
		justify-self: center;
		background-color: rgb(12, 12, 12);
		border-radius: 8px;
		.quienesSomos {
			color: rgb(255, 255, 255);
			font-size: 40px;
			margin-top: 15px;
			margin-left: 15px;
			margin-bottom: 25px;
		}
		.pquienesSomos {
			color: rgb(255, 255, 255);
			font-size: 15px;
			line-height: 15px;
			margin-left: 15px;
			margin-right: 15px;
		}
	}
	.munecoHome {
		grid-area: muneco;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: solid rgb(105, 105, 105) 2px;
		border-radius: 8px;
		background-color: white;
	}
	.homeContact {
		grid-area: contacto;
		text-align: center;
		margin-top: 70px;
		.botonContacto {
			font-size: 15px;
			color: white;
			background-color: #333;
			border-radius: 20px;
			border: none;
			padding: 12px;
			font-weight: bold;
		}
	}
	.siAbajo {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
		grid-area: siabajo;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		background-color: rgb(179, 53, 53);
		.muneco3 {
			width: 0;
		}
		h2 {
			text-align: center;
			margin-top: 15px;
		}
	}
	.seccionFormulario {
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-area: formulario;
		background-color: rgb(179, 53, 53);
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		.formHome {
			display: block;
			.textoFormHome {
				font-size: 25px;
			}
			.labelHome {
				display: block;
				font-weight: bold;
				margin-bottom: 5px;
				color: #ffffff;
			}
			.camposHome {
				display: block;
				width: 75%;
				padding: 12px;
				border-top: none;
				border-left: none;
				border-right: none;
				border-radius: 5px;
				border-bottom: 1px solid white;
				font-size: 10px;
				margin-bottom: 10px;
				background-color: rgb(247, 141, 141);
			}
			.btnFormularioHome {
				background-color: crimson;
				font-weight: bold;
				color: #fff;
				border: none;
				padding: 10px 20px;
				border-radius: 5px;
				font-size: 12px;
				margin-top: 10px;
				cursor: pointer;
			}
		}
	}
}