

@mixin boton($bgcolor, $width) {
    font-size: 15px;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 12px;
    font-weight: bold;
    background-color: $bgcolor;
    width: $width;
}