@import "variables";

/* SERVICIOS */

.mainServ {
	font-family: Montserrat;
	margin: 40px 80px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto;
	row-gap: 45px;
	grid-template-areas: "seccionA seccionB"
    "formulario formulario";
	.serv {
		grid-area: seccionA;
		display: flex;
		flex-direction: column;
		.tituloserv {
			font-size: 25px;
			font-weight: bold;
			margin-top: 20px;
		}
		.verplanes {
			font-size: 15px;
			color: white;
			background-color: #333;
			border-radius: 20px;
			border: none;
			padding: 12px;
			font-weight: bold;
			margin: auto;
		}
		p {
			padding-top: 10px;
			padding-bottom: 20px;
		}
	}
	.serv2 {
		grid-area: seccionB;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.formularioServicios {
		grid-area: formulario;
		background-color: $color-form;
		padding: 30px 30px;
		border-radius: 8px;
		.formServ {
			.textoformserv {
				color: white;
				width: 50%;
				color: white;
				text-transform: uppercase;
				font-size: 25px;
				padding-bottom: 10px;
			}
			label {
				display: block;
				font-weight: bold;
				margin-bottom: 5px;
				color: white;
				text-transform: uppercase;
				font-size: 15px;
			}
			.camposServ {
				display: block;
				padding: 10px;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom: 1px solid white;
				font-size: 15px;
				margin-bottom: 10px;
				background-color: rgb(143, 12, 23);
			}
			.btnFormularioServ {
				background-color: #333;
				color: #fff;
				border: none;
				padding: 10px 20px;
				border-radius: 5px;
				font-size: 15px;
				margin-top: 10px;
				cursor: pointer;
			}
		}
	}
}